<%= react_component("Map", {
  center: @map_center,
  zoom: @map_zoom,
  markers: [@markers]
}) %>

<div class="container-places">
  <% @places.each do |place| %>
    <h2><%= place.name %></h2>
    <p><%= place.address %></p>
  <% end %>
</div>
